/*-------------------- LIGATURES -------------------*/

body {
 text-rendering: optimizeLegibility;
    font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
    font-family: "athelas",serif;
       /* font-family: "minion-pro",serif;
   font-family: "warnock-pro",serif;*/
      -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=1", "liga=1", "dlig=1", "hlig=1";
  -moz-font-feature-settings: "kern" on, "liga" on, "dlig" on, "hlig" on;
  -webkit-font-feature-settings: "kern","liga","dlig","hlig";
  -ms-font-feature-settings: "kern","liga","dlig","hlig";
  font-feature-settings: "kern","liga","dlig","hlig"; 
   }

h1, h3 {    color: #333;
}

h3 {font-size: 1.7em;}

h1 {
    font-size: 8em;
    margin-top: .5em;
}

.ligatures {
    color: #333;
    font-size: 9em;
    margin-top: .5em;
 font-family: 'Playfair Display', serif; */
    }
.discretionary h1 {
    color: #c06;
    font-size: 5em;
}

.numerals {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}
