/* ------ CSS RESET ------ */

* {
   padding: 0;
   margin: 0;
   font-size:100%;
   line-height: 1em;
  }


/* --------------------- MY CSS STYLING ----------------- */
body {
    font-family: "athelas",serif;
  font-family: 'Libre Baskerville', Georgia, Times, 'Times New Roman', serif;
    background-color: #fafafa;
    
    color: #333;  }

/* Layout */

article {
    width: 75%;
    max-width: 700px;
    margin: 20px auto;}

    
section {padding: 4em 0}

/* ----------------- TYPOGRAPHY ---------------------*/

h1, h2, h3 {
    font-weight: normal;
    color: #c06;
    text-align: center;}

p, li {
    line-height: 1.8em;
    margin-bottom: 1em;}
        
h1 {font-size: 4em;
       margin-bottom: .1em;}

h2 {font-size: 2.25em;
    margin-bottom: 1em;}


hgroup h2 {color: #333}

h3 {font-size: 1.5em;
    margin: 2em 0}

header h2 {
    margin-top: 
    font-style: italic;
    font-size: 1.8em;}
        
hgroup {  
    margin-bottom: 3em;}   
    

.intro {
    font-size: 1.25em;
    line-height: 1.9em;}

blockquote {
    padding: 1em 0 2em 1em;
    font-size: 1.75em;
    line-height: 1.4em;
    margin: 0;}

blockquote cite    {
    font-size: .75em; 
}

blockquote p {
    color: #777;
    hanging-punctuation: first;
    text-indent: -0.5em; /* Change according to your font */
            }

.anchor {
    text-transform: uppercase;
    font-size: .75em;}

.leader {
       text-transform: uppercase}

.mreeaves {color: brown}

/* -------------- LINKS -------------------- */

a {
    color: #c06;
    text-decoration: none;
}

a:hover {
    color: #006341;
    border-bottom: 1px dotted;
}

 .anchor a {color: aqua;}
/* ---------------- NAV ------------------- */

nav { 
    padding: 1em 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
margin-bottom: 4em}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;}

nav ul li {
    display: inline;
    margin: 20px; }

nav a:hover {
     border-bottom: none;
    }

/* ------------------ TABLE -----------------------*/

table {
    margin: auto;
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
}

caption {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    }

table.head, th {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: left;
    background: #333;}

th, td {
    padding: .6em;}

table, td {
   background: #cc0066;
   background: rgba(0,0,0,.1);    
   border: 1px dotted #fff;}

/* ------------------- IMAGES -------------------- */

img {
    display: block;
    margin: 1em auto; /* This sets the margin top and bottom to 0px. The auto on the left and right will automatically calculate the space either side and split it evenly between the two margins. */
    padding: 0;
    max-width: 100%; /* This means that the images will resize to fit the parent container instead of just rendering at its native width and overflowing its containing box. */
   /* border: #c06 5px solid; */
}


/* --------------------- FOOTER --------------------- */

footer {
    font-size: .75em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

footer hr {margin-bottom: 3em}

.contact {
    padding-top: 2em;
    margin: auto;
    text-align: center}

.contact a {margin: 0 1em;
padding: 7px; }

/*---------------- WEEK 12 SPRINKLES ----------------*/
/*.contact a:hover {
        padding: 7px;
        background: #c06;
        color: #fff;
        border-bottom: none;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out; 
		-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
        border-radius: 1em;} */

/* ----------------- MEDIA QUERIES ----------------------*/


/*------------------ TABLET ----------------------*/
@media (max-width: 50em) {
    
   
    
article {
    width: 95%;
    padding: 0.5em;
    } 
    
    img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%;
    }
} 

/*----------- SMARTPHONE ----------- */
 @media (max-width: 30em) {
    
   body {
    margin: auto 0;
    width: 100%;
    font-size: 110%;
    }
    
article {
    width: 90%;
    } 

h1 {font-size: 2.9em;}   

blockquote p{padding: 0;
line-height: 1.5em}  
     
hgroup h2 {font-size: 1.5em;
padding-top: 0.5em}  
     
nav ul li {font-size: .75em;
        margin: 10px}
}


